<section class="home">
  <div>
    <h1>Ciao, inserisci i tuoi dati</h1>
    <div>
      <img src="https://cdn.drivek.com/configurator-imgs/cars/it/Original/AUDI/RS-7-SPORTBACK/38943_HATCHBACK-5-DOORS/audi-rs-7-sportback-2019.jpg" class = 'home'alt="">
    </div>
    <form [formGroup]="homeform" class="form" (ngSubmit)="onsubmitta()">
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput type="text"  formControlName="name">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Inserisci l'email</mat-label>
        <input matInput type="email" id="search"  formControlName="email" >
      </mat-form-field>

      <button mat-button type="submit" >Invia dati</button>
    </form>
  </div>

  <h4>Sono {{numero | currency: 'EUR': 'symbol-narrow': '1.2'}}
    e sono le {{oggi | date:'h:mm:ss'}} del {{ oggi |date:'d/MMM/yyyy '}}
  </h4>

</section>
