<nav class="navbar"></nav>
<main>
  <div class="row">
    <div class="col">
      <li class="list-inline" *ngFor="let article of articles">
        <ul>
          {{ article.title }}
        </ul>
      </li>
    </div>
  </div>
  <app-left-sidebar [isLeftSidebarCollapsed]="isLeftSidebarCollapsed()"
                    (changeIsLeftSidebarCollapsed)="changeIsLeftSidebarCollapsed($event)">
  </app-left-sidebar>
  <app-main [isLeftSidebarCollapsed]="isLeftSidebarCollapsed()"
            [screenWidth]="screenWidth()">
  </app-main>
</main>
<router-outlet></router-outlet>
