<nav class="navbar">
  <div>
    <a routerLink="/" class="links li-group-item"><h6>Home</h6></a>
    <a routerLink="/about" class="links"><h6>About</h6></a>
    <a routerLink="/login" class="links"><h6>Login</h6></a>
    <a routerLink="/contatti" class="links"><h6>Contatti</h6></a>
    <a routerLink="/Quiz" class="links">Quiz per tutti</a>
    <div>
      <form [formGroup]="searchForm" class="container searchBar py-5" (ngSubmit)="onSearchSubmit()">
        <input type="text" formControlName="searchValue" placeholder="Search..." class="searchBarInput" />
        <button type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<main>
  <li class="li-unlisted" *ngFor="let article of articles">
    <ul>
      {{ article.title }}
    </ul>
  </li>
</main>

<router-outlet></router-outlet>
